body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #111111; /* white text (other text) */
  }
  
  h1 {
    color: #ffcc00; /*title */
    text-shadow: 2px 2px 4px black; /* text shadow */
  }
  
  #rules, #wordDisplay, #message {
    color: #111111; /* Majority of Text */
    font-size: 18px;
    text-shadow: 1px 1px 2px black;
  }
  
  button {
    margin: 5px;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: 2px solid #ffcc00;
    border-radius: 6px;
  }
  
  button:hover {
    background-color: #555;
  }
  
  input[type="text"] {
    padding: 5px;
    font-size: 16px;
    border: 2px solid #ffcc00;
    border-radius: 6px;
  }
  